@import 'framework7/css/bundle';
@import 'theme.scss';

// .app-toolbar { display: none; }

.mainpage-sheet .introduction {
  display: inherit;
}

/* Content pages */

/* Method Summaries */
#app .method-summary-list {

  margin: 24px 0;

  .item-content {
    min-height: auto;
    margin-bottom: 8px;
  }
  .item-media {
    padding: 0;
    margin: auto 0;
    min-width: inherit;
    img {
      width: 40px
    }
  }

  .item-inner {
    padding: 0;
    min-height: 20px;  
  }

  .item-title {
    font-weight: bold;
  }

  .item-subtitle {
    display: flex;
    height: 100%;
    align-items: center;
    white-space: inherit;
    font-size: inherit;
  }
}

.list.no-harilines-between>ul>li {
  &>*::after {
    visibility: hidden;
  }
}

.content-title {
  font-weight: bold;
}


.homepage-header {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;

  .homepage-title {
    font-size: 180%;
    text-align: center;
    font-weight: bold;
  }

  .homepage-image {
    float: left;
    max-height: 125px;
  }

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.list-block .item-title,
.list-block .item-text {
  white-space: normal;
  height: inherit;
  -webkit-line-clamp: inherit;
}

/* Person Lists */

#app .person-list {
  .item-media img {
    width: 100px;
  }

  .item-title {
    color: $navbar-background;
    font-weight: bold;
  }

  .item-subtitle {
    text-wrap-mode: wrap;
  }

  dd {
    margin-inline-start: 10px;
  }

  dt {
    font-weight: bold;
    margin-inline-start: 10px;
  }

}

/* Buttons */

.button {
  border: 2px solid $link-border-color;
  font-weight: bold;
  color: black;
  margin: 5px;
  padding: 5px;
  white-space: normal;
  height: initial;
  line-height: inherit;
}

/* Images */
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.header-image {
  max-width: 100%;
}

.image-text {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  margin-bottom: 12px;
}

.pink {
  font-weight: bold;
  color: rgb(200, 48, 118);
}