@import 'theme.scss';

#app .links-list a {
  height: inherit;
}

#app .list .item-title {
  white-space: normal;
}

.panel {
  background: $panel-background;
}

.panel .panel-icon {
  height: 30px;
}

.panel-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.panel .list-block {
  margin-top: 10px;
}

.panel a.close-panel {
  float: right;
}

/* Content pages */

.page-content p img {
  max-width: 100%;
}

.homepage-header {
  padding: 10px;
  display: flex;

  .homepage-image {
    width: 100%;
    max-height: 200px;

    img {
      max-width: 100%;
      max-height: 200px;
      display: block;
      margin: auto;
    }
  }
}


/* Utility classes */

.subheading {
  font-weight: bold;
  background-color: $subheading-background-color;
  margin: 0px -11px 0px -11px;
  padding: 5px 5px 5px 11px;
}

.image-padding.float-right {
  padding-left: 10px;
}

.image-padding.float-left {
  padding-right: 10px;
}



table {
  border: none;

  &.border {
    border: 1px solid black;
  }

  border-collapse: collapse;

  th,
  td {
    padding: 15px;
  }

  .warning-cell {
    padding-right: 0px;
    vertical-align: top;
  }
}

/* Shim to ensure floats do not create very narrow text widths next to the float */
%float-block-item {
  content: "";
  width: 8em;
  display: block;
  overflow: hidden;
}

.float-block,
.accordion-item-content>.block {
  &>p:before {
    @extend %float-block-item;
  }

  &>ul:before {
    @extend %float-block-item;
  }
}
