body {
  display: flex;
  flex-direction: column;
}

#app-header {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 10px;
  height: 45px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#app-header .app-store-button a {
  display: block;
}

#app-header .app-header-icon {
  height: 100%;
}

#app-header .app-store-icon {
  height: 100%;
}

#app.framework7-root {
  border: 3px solid black;
  border-radius: 10px;
  max-width: 768px;
  align-self: center;
}

html.hm-embed #app-header {
  display: none;
}
